{% include head.html %}
  <body>
    <div id="loader" class="vertical--center" role="status" aria-label="Loading">
      <div class="vertical-center__element" aria-hidden="true">
        <span class="preloader preloader--top"></span>
        <span class="preloader preloader--bottom"></span>
      </div>
    </div>

    <header class="vert-center__parent">
      <div class="hero">
        <div class="color-bg"></div>
      </div>

      <div id="nav-scroll" class="vert-center__child 1/1">
        <div class="[ box__wrap box box--all ]">
          <div class="header__titles [ palm-7/10 desk-9/10 ]">
            <h1 class="titles [ box box--right box--bottom ] [ palm-1/1 lap-2/5 1/5 ]"><a href="/">{{ site.name }}</a></h1>
            <h2 class="[ titles titles--small ] [ box box--right ] [ palm-1/1 lap-2/5 1/5 ]">Principal Frontend Engineer</h2>
          </div><!--
          --><div class="header__menu [ box box--left box--left-rm-palm ] [ palm-3-10 desk-1/10 ]">
            <div class="menu-wrap">
              <a href="#" id="menu-toggle" class="menu_icon" role="button" aria-controls="nav-hide" aria-label="Toggle navigation">Menu</a>
            </div>
          </div>
        </div>

        <nav id="nav-hide" class="nav" aria-label="Primary">
          <ul class="main-nav [ box box--all ]">
            <li class="[ box box--right ]">
              <a href="https://github.com/austinteer" target="_blank" rel="noopener noreferrer">GitHub</a>
            </li>
            <li class="[ box box--right ]">
              <a href="http://codepen.io/austinteer/" target="_blank" rel="noopener noreferrer">Codepen</a>
            </li>
            <li class="[ box box--right ]">
              <a href="https://twitter.com/austinteer" target="_blank" rel="noopener noreferrer">Twitter</a>
            </li>
            <li class="[ box box--right ]">
              <a href="http://soundcloud.com/austin-teer" target="_blank" rel="noopener noreferrer">SoundCloud</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/pub/austin-teer/3b/4a/ab9" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
