/*****************************\
	Settings
	Global variables, site-wide settings, config switches, etc.
\*****************************/
	@import "../_vendor/inuitcss/settings.defaults";
	@import "../_vendor/inuitcss/settings.responsive";


/*****************************\
	Tools: 
	Site-wide mixins and functions.
\*****************************/
	@import "../_vendor/inuitcss/tools.functions";
	@import "../_vendor/inuitcss/tools.mixins";
	@import "../_vendor/inuitcss/tools.responsive";


/*****************************\
	Generic: 
	Low-specificity, far-reaching rulesets (e.g. resets).
\*****************************/
	@import "../_vendor/inuitcss/generic.normalize";


/*****************************\
	Base:
	Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
\*****************************/
	@import "../_vendor/inuitcss/base.page";


/*****************************\
	Objects: 
	Objects, abstractions, and design patterns (e.g. .media {}).
\*****************************/
	@import "../_vendor/inuitcss/objects.layout";
	@import "../_vendor/inuitcss/objects.flag";


/*****************************\
	Components: 
	Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesn’t get involved with.
\*****************************/


/*****************************\
	Trumps: 
	High-specificity, very explicit selectors. Overrides and helper classes (e.g. .hidden {}).
\*****************************/
	@import "../_vendor/inuitcss/trumps.widths";
	@import "../_vendor/inuitcss/trumps.widths-responsive";


/*****************************\
	SASS Imports
\*****************************/

@import "_aphid.css/aphid";
